# This is the main configuration file for the application.
# ~~~~~

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
play.crypto.secret="fX0W;2]Se_3ed/wVc5Bw=IydQU2o@3NJyjBvkI`?9?GH9;RvU1`V?4Kgia@X6XNX"

# The application languages
# ~~~~~
play.i18n.langs="en"

contact_address = "test@test.com"

HTTPS=false

# Service configuration

# BYU Dictionaries

byu.dictpath = "###################################"

# WordReference
wordReference.key="#####"
wordReference.expiration = 1 day

# Google Translate
google.key="#######################################"
google.expiration = 1 day

# Merriam-Webster Services
merriamWebster.spanishKey="########-####-####-####-############"
merriamWebster.collegiateKey="########-####-####-####-############"
merriamWebster.expiration = 1 day

# Glosbe Dictionary/Translator
glosbe.expiration = 1 day

# Service Defaults
services.expiration = 10 minutes

# Local dictionary in-memory caching time
dictionary.expiration = 10 minutes

# User defaults
user.servicelist = ["BYUDictionaries","WordReference","MerriamWebster","Glosbe","WWWJDIC","SeaLang","GoogleTranslate"]

# Madamira Service
services.madamira = http://localhost:8223

# Database configuration
# ~~~~~ 
# You can declare as many datasources as you want.
# By convention, the default datasource is named `default`

db.default.driver=com.mysql.jdbc.Driver
db.default.url="jdbc:mysql://localhost/dictionary?characterEncoding=UTF-8"
db.default.username=root
db.default.password=root

# Evolutions
# ~~~~~
# You can disable evolutions if needed
# evolutionplugin=disabled