@()(implicit request: RequestHeader)

@main("Ayamel - About BYU Dictionary Service"){
    <div class="padded">
        <h1>About Dictionary Service</h1>

       <!--  <p>
            Ayamel is a web-based system for streaming video and audio content especially as it applies to learning a
            foreign language. Additional aids are available to be used in conjuction with the media, such as captions
            and annotations. A key feature of the site enables learners to directly interact with subtitle tracks to
            quickly access translations for foreign words and phrases and view relevant annotations. The translations
            are taken from our own dictionary web service, WordReference.com translation API, Merriam-Webster Dictionary/Translation APIs,
            and the Google Translate API. Teachers or course designers are able to aggregate media into a single location
            and set up specific conditions in order to optimize the learning experience.
        </p> -->
        
        <p>
            The BYU Dictionary Service is an independent dictionary search system built to enhance the language learning capabilities of Ayamel, bringing the most comprehesive and complete lookup available. Words for which a definition or translation is requested run through several diffrent electronic dictionarys, (listed below), to find the best possible translation, and then display that information in easy to read and understandable format. More dictionaries are being added all the time, further building and improving the language learning process.
        </p>
    </div>

    <div>
        Dictionary Reference: <br>
        <a href="">BYU Dictionary</a> <br>
        <a href="https://en.glosbe.com/">Glosbe</a> <br>
        <a href="http://www.merriam-webster.com/">Merriam Webster</a> <br>
        <a href="http://www.sealang.net/">Seal Language</a> <br>
        <a href="http://www.wordreference.com/">Word Reference</a> <br>
        <a href="http://www.csse.monash.edu.au/~jwb/cgi-bin/wwwjdic.cgi?1C">WWWJDIC</a> <br>
        <a href="https://translate.google.com/">Google Translate</a> 
        
        <!--  -->

    </div>
}
