@()(implicit request: RequestHeader)

@main("ARCLITE Dictionary Lookup Service") {
<h3>How to make a request:</h3>
<p>
<code>xhr = new XMLHttpRequest();</code><br>
<code>xhr.open("POST", "@{routes.Lookup.authlookup().absoluteURL()}", true);</code><br>
<code>xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");</code><br>
<code>xhr.setRequestHeader("Authorization", <strong>key</strong>);</code><br>
<code>xhr.send("srcLang="+encodeURIComponent(<strong>srcLang</strong>)+"&destLang="+encodeURIComponent(<strong>destLang</strong>)+"&word="+encodeURIComponent(<strong>text</strong>));</code>
</p>
}
