@()(implicit request: RequestHeader)
@import play.api.Play.{current, configuration};

@main("ARCLITE Dictionary Lookup Service") {
<div class="container"> 

   <div style="width: 40%; height: 550px; float:left; "> 
        <div style="margin: 5px; background-color: #fff; height: 300px; text-align: center;">
            <h1>Look Up Test</h1>
            <form action="javascript:checkIfEmpty();"> 
                <label>Word or Phrase to be Translated: <input type="text" id="words_to_translate" /></label>
                <br><br>
                <label> Source Language:
                    <select id = "nativelanguageselection">
                        <option value = "en">English</option>
                        <option value = "sq">Albanian</option>
                        <option value = "ar">Arabic</option> 
                        <option value = "hy">Armenian</option>
                        <option value = "be">Belarusian</option>
                        <option value = "bn">Bengali</option>
                        <option value = "ca">Catalan</option>
                        <option value = "zh">Chinese</option>   
                        <option value = "cs">Czech</option> 
                        <option value = "nl">Dutch</option> 
                        <option value = "en">English</option>
                        <option value = "fr">French</option>
                        <option value = "de">German</option>
                        <option value = "he">Hebrew</option>
                        <option value = "hi">Hindi</option>  
                        <option value = "it">Italian</option>
                        <option value = "ja">Japanese</option>
                        <option value = "jv">Javanese</option>
                        <option value = "ko">Korean</option>
                        <option value = "lv">Latvian</option>
                        <option value = "pl">Polishe</option>
                        <option value = "pt">Portuguese</option> 
                        <option value = "ro">Romanian</option>
                        <option value = "ru">Russian</option>
                        <option value = "sm">Samoan</option>
                        <option value = "es">Spanish</option>
                        <option value = "te">Telugu</option>
                        <option value = "tr">Turkish</option> 
                        <option value = "uk">Ukrainian</option>
                        <option value = "vi">Vietnamese</option>  
                </select>
                </label>
                <br>
                <label> Target Language:
                    <select id = "secondlanguageselection">
                        <option value = "en">English</option>
                        <option value = "sq">Albanian</option>
                        <option value = "ar">Arabic</option> 
                        <option value = "hy">Armenian</option>
                        <option value = "be">Belarusian</option>
                        <option value = "bn">Bengali</option>
                        <option value = "ca">Catalan</option> 
                        <option value = "zh">Chinese</option>   
                        <option value = "cs">Czech</option> 
                        <option value = "nl">Dutch</option> 
                        <option value = "en">English</option>
                        <option value = "fr">French</option>
                        <option value = "de">German</option>
                        <option value = "he">Hebrew</option>
                        <option value = "hi">Hindi</option>  
                        <option value = "it">Italian</option>
                        <option value = "ja">Japanese</option>
                        <option value = "jv">Javanese</option>
                        <option value = "ko">Korean</option>
                        <option value = "lv">Latvian</option>
                        <option value = "pl">Polishe</option>
                        <option value = "pt">Portuguese</option> 
                        <option value = "ro">Romanian</option>
                        <option value = "ru">Russian</option>
                        <option value = "sm">Samoan</option>
                        <option value = "es">Spanish</option>
                        <option value = "te">Telugu</option>
                        <option value = "tr">Turkish</option> 
                        <option value = "uk">Ukrainian</option>
                        <option value = "vi">Vietnamese</option>   
                    </select>
                </label>
                <br><br>
                <label>Security Key <br> <input type="password" id ="security_key" /></label>
                <br>
                <input type="submit" id="submitButton" />
            </form>
        </div>
    </div>
    <div style="width: 60%; float:left;">
        <div style="margin: 5px; background-color: #fff; min-height: 300px; text-align: center;">
            <h1>Lookup Results</h1>
            <!-- <p id ='partOfSpeech'> </p> -->
            <!-- <p1 id ='wordSearched'></p1>  -->
            <br>
            <p id="Def"></p> 
            <p id="final_translation"></p>
            <br><br><br>
            <div id="attribution"></div>
        </div>
    </div>

    <div class="footer"> 
        Contact us at <a href="mailto:@{configuration.getString("contact_address").get}">@{configuration.getString("contact_address").get}</a>
    <div>

</div>

<script type ="text/javascript">

function checkIfEmpty(){
    var word = document.getElementById("words_to_translate").value;
    if(word === ""){
        alert("You have nothing in the submit box\nPlease input something to translate.");
    }else if(word !== ""){
        Lookup();
    }
}

function Lookup(){
    var xhr = new XMLHttpRequest(),
        security_key_to_check = document.getElementById("security_key").value,
        srclang = document.getElementById("nativelanguageselection").value,
        dstlang = document.getElementById("secondlanguageselection").value,
        lookupWord = document.getElementById("words_to_translate").value;

    xhr.addEventListener('load',function(){
        var resp;
        if(xhr.status >= 400){
            alert("Error, you have incorrect key");
            console.log(xhr.responseText);
            return;
        }
    
        resp = JSON.parse(xhr.responseText);
        if(resp.entries === void 0){  // Make sure we actually received translations
            alert("No data recieved"); 
        }else{
            displayResult({
                text: lookupWord,
                translations: resp.entries,
                engine: resp.source,
                srcLang: srclang,
                destLang: dstlang
            });
        }
    },false);

    xhr.addEventListener("error",function(e){
        alert("An Error Occurred in Lookup");
        console.dir(e);
    },false ); 

    xhr.open("POST", "@{routes.Lookup.authlookup().absoluteURL()}",true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.setRequestHeader("Authorization", security_key_to_check);
    xhr.send(   "srcLang="+encodeURIComponent(srclang)+
                "&destLang="+encodeURIComponent(dstlang)+
                "&word="+encodeURIComponent(lookupWord)
    );
}

function displayResult(data){
    var theWebsite;

    document.getElementById('Def').innerHTML = "Definition for: "
        + data.text.toUpperCase();

    // this makes the entries themselves look prettier
    document.getElementById('final_translation').innerHTML = 
        data.translations.map(function(entry, i){
            return entry.replace("(" + data.text + "):", i + ": ");
        }).join('<br/><br/>');

    switch(data.engine){
    case "Merriam-Webster Inc.":
        theWebsite = 'Translation by Merriam-Webster Inc. <a target =_blank href=http://www.merriam-webster.com/dictionary/'
            + data.text + '><br>Link to dictionary entry for "' + data.text + '"</a>';
        break;
    case "WordReference":
        theWebsite = 'Translation by WordReference <a target =_blank href=http://www.wordreference.com/'
            + {
                en: "definition",
                es: "definicion",
                it: "definizione",
                as: "definicio"
            }[data.srcLang] + '/'
            + lookupWord + '> <br> Link to dictionary entry for "'
            + lookupWord + '" </a>';
        break;
    case "Glosbe":
        theWebsite = '<a target =_blank href=https://'
            + data.srcLang + '.glosbe.com/' + data.srcLang
            + '/' + data.dstLang + '/' + data.text + '>'
            + 'Definition for ' + data.text + ' in the Source Language</a><br>'
            + '<a target =_blank href=https://'
            + data.dstLang + '.glosbe.com/' + data.srcLang
            + '/' + data.dstLang + '/' + data.text + '>'
            + 'Definition for ' + data.text + ' in the Target Language</a>';
        break;
    default:
        theWebsite = "Translation by " + data.engine;
    }

    document.getElementById('attribution').innerHTML = theWebsite;
}

</script>
}