@(title: String)(content: Html)(implicit request: RequestHeader)
@import play.api.Play
@import play.api.Play.current

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </head>
    <body>
    <div class ="headerBar">
        <img src="/assets/images/logo-new.png">
        Y-Lex
        @defining(Play.configuration.getBoolean("https").getOrElse(false)) { isHTTPS =>
        <a href="@{routes.Application.index().absoluteURL(isHTTPS)}">Home</a> |
        <a href="@{routes.Application.aboutDict().absoluteURL(isHTTPS)}">About</a> |
        <a href="@{routes.Application.register().absoluteURL(isHTTPS)}">Request API Key</a> |
        <a href="@{routes.Application.manageAccount().absoluteURL(isHTTPS)}">Manage Account</a> |
        <a href="@{routes.Application.lookupTest().absoluteURL(isHTTPS)}">Test Lookup</a>
        }
    </div>
        @content
    </body>
</html>