@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </head>
    <body>
	<div class ="headerBar">
		<img src="/assets/images/logo-new.png">
		Beadle (BYU Electronic Aggregating Dictionary for Language Experiences)
		<a href="@{routes.Application.index().absoluteURL()}">Home</a> |
		<a href="@{routes.Application.aboutDict().absoluteURL()}">About</a> |
		<a href="@{routes.Application.register().absoluteURL()}">Request API Key</a> |
		<a href="@{routes.Application.lookupTest().absoluteURL()}">Test Lookup</a>
	</div>
        @content
    </body>
</html>