@()(implicit request: RequestHeader)

@main("ARCLITE Dictionary Lookup Service") {

    <h1>Register a New User</h1>

    <form method="POST" action="@{routes.UserManager.register().absoluteURL()}">
        <table>
            <tr><td>Username:</td><td><input type="text" name="username" /></td></tr>
            <tr><td>E-mail address:</td><td><input type="text" name="email" /></td></tr>
            <tr><td>Password:</td><td><input type="password" name="password" /></td></tr>
        </table>
        <input type="submit"/>
    </form>

}
